<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project Wizard - <%= @title %></title>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Topbar
================================================== -->
<div class="topbar">
  <div class="fill">
    <div class="container fixed">
      <h3><a href="#">Project Wizard</a></h3>
      <ul>
        <li <%= (@title == "Home" ? "class='active'" : "") %>><a href="/">Home</a></li>
        <li <%= (@title == "About" ? "class='active'" : "") %>><a href="/about">About</a></li>
        <li <%= (@title == "Contact" ? "class='active'" : "") %>><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
